/* Опишите в этом файле все keyframes для проекта и стили анимаций иконки Like.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.like-icon {
  width: 39px;
  height: 36px;
  color: #000;
  transition: color 0.3s ease;
}

.like-icon .core {
  fill: transparent;
  transition: fill 0.3s linear, opacity 0.3s linear;
}

.like-icon .main-body {
  fill: transparent;
  transition: fill 0.3s linear;
}

.like-icon .contour {
  fill: #000;
  transition: fill 0.1s linear;
}

.like-icon .sparks {
  opacity: 0;
  fill: #ff0000;
}

.like-icon .sparks circle {
  fill: #ff0000;
}

.like-icon:hover .core {
  fill: #000;
  transition: fill 0.3s linear;
}

.like-icon:hover .main-body {
  fill: #000;
  transition: fill 0.3s 0.05s linear;
}

.like-icon:active .core {
  fill: #ff0000;
  transition: fill 0.3s linear;
}

.like-icon:active .main-body {
  fill: #ff0000;
  transition: fill 0.3s 0.05s linear;
}

.like-icon.is-liked .core {
  fill: #ff0000;
  transition: fill 0.3s linear;
}

.like-icon.is-liked .main-body {
  fill: #ff0000;
  transition: fill 0.3s 0.05s linear;
}

.like-icon.is-liked .contour {
  fill: #ff0000;
  transition: fill 0.3s 0.06s linear;
}

.like-icon.is-liked .sparks {
  animation: sparks 0.3s 0.3s ease-in;
}

@keyframes sparks {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes scale {
  from {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  to {
    transform: scale(1);
  }
}

.like-icon.is-liked {
  animation: scale 0.3s 0.1s ease-in;
}