/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки
*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font), sans-serif;
  font-variation-settings: "wght" var(--weight-main-font-title);
  background-image: var(--Themes-background);
  background-size: cover;
  background-attachment: fixed;
}

.header {
  display: flex;
  align-content: center;
  justify-content: center;
  font-family: var(--reserve-font), sans-serif;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  width: clamp(375px, 100%, 100%);
  margin-block-end: clamp(100px, 0.3756vw + 98.59px, 104px);
}

.decorated-header {
  background-color: rgb(255, 255, 255, 1);
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 704px;
  margin-block-start: 100px;
  border: 2px solid rgb(0, 0, 0);
}

.header-title {
  font-size: clamp(49px, 1.5vw + 43px, 65px);
  padding-block-start: 120px;
  padding-block-end: 20px;
}

.header-subscribe {
  font-size: clamp(14px, 0.845vw + 10.83px, 23px);
  padding-block-end: clamp(120px, 0.939vw + 116.48px, 130px);
  line-height: clamp(14px, 0.845vw + 10.83px, 23px);
  text-transform: uppercase;
}

main {
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: center;
}

.card {
  background-color: #fff;
  border: 2px solid #000;
  max-width: 702px;
  display: flex;
  flex-direction: column;
}

.card__title {
  padding-block: 4px;
  padding-inline: 10px;
  color: #000;
  font-family: var(--main-font), sans-serif;
  font-size: 18px;
  font-variation-settings: "wght" var(--weight-main-font-title);
  line-height: 22px;
  text-align: left;
}

.card__image-container {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.card__label {
  position: absolute;
  top: 25px;
  right: 25px;
  color: #000;
  font-family: var(--reserve-font), sans-serif;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  mix-blend-mode: hard-light;
  opacity: 0.5;
  -webkit-text-stroke: 1px var(--outline-label);
}

@supports not (-webkit-text-stroke: 1px) {
  .card__label {
    text-shadow: -1px -1px 0 var(--outline-label), 1px -1px 0 var(--outline-label), -1px 1px 0 var(--outline-label), 1px 1px 0 var(--outline-label);
  }
}

.card__image {
  width: 100%;
  height: clamp(371px, 256.625px + 30.5vw, 696px);
  display: block;
  object-fit: cover;
  border-bottom: 2px solid var(--color-countour);
  border-top: 2px solid var(--color-countour);
}

.saturate {
  filter: saturate(200%);
}

.brightness {
  filter: brightness(0.7);
}

.nebula {
  filter: opacity(0.5) contrast(1.5);
}

.sharpen {
  filter: brightness(1.1) saturate(1.5);
}

.blur {
  filter: blur(0.1rem);
}

.hue-rotate {
  filter: hue-rotate(30deg);
}

.sunrise {
  filter: brightness(0.7) saturate(1.8);
}

.intensity {
  filter: opacity(0.8) contrast(1.3);
}

.card__text {
  color: #000;
  font-family: var(--main-font), sans-serif;
  font-size: 18px;
  font-variation-settings: "wght" var(--weight-main-font-text);
  line-height: 21px;
  text-align: left;
  padding-block: 23px;
  padding-inline: 25px;
}

.card .card__text:nth-of-type(2) {
  padding-block-start: 2px;
  padding-block-end: 0px;
}

.card__like-container {
  display: flex;
  align-items: center;
  align-self: flex-end;
  padding-block: 25px;
  padding-inline-end: 25px;
  gap: 12px;
}

.card__icon-button {
  background: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
  color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: border 0.3s ease;
  width: 39px;
  height: 38px;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border: 2px solid #000;
}

.like-icon {
  width: 100%;
  height: 100%;
}

.button {
  position: relative;
  background: #fff;
  border: 2px solid #000;
  cursor: pointer;
  color: #000;
  font-family: var(--reserve-font), sans-serif;
  font-size: 14px;
  line-height: 14px;
  transition: box-shadow 0.3s ease;
  overflow: hidden;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: none;
  box-shadow: 2px 2px 0 0 #000;
  transition: box-shadow 0.3s ease;
}

.card__like-button {
  padding: 10px 20px;
  min-width: 130px;
}

.button::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: #fff;
  color: var(--text-color);
  transition: width 0.5s ease-in-out;
  z-index: 0;
  mix-blend-mode: difference;
}

.button:hover::after {
  width: 100%;
}

.button__text {
  font-family: var(--reserve-font), sans-serif;
  font-size: 14px;
  line-height: 14px;
  position: relative;
  z-index: 1;
  color: var(--text-color);
  mix-blend-mode: difference;
}

.footer {
  display: flex;
  justify-content: center;
  padding: 50px 0;
  isolation: isolate;
}

.footer__button {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  padding: 15px 15px;
  isolation: isolate;
}

.footer__icon {
  width: 28px;
  height: 28px;
  flex-shrink: 0;
  position: relative;
  z-index: 1;
  color: currentColor;
  mix-blend-mode: difference;
}

.dialog {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 30px 40px;
  border: 2px solid #000;
  background-color: #fff;
  min-width: 341px;
  max-width: 353px;
  font-family: var(--reserve-font), sans-serif;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
}

.dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.75);
}

.dialog__content {
  display: flex;
  align-items: center;
  gap: 20px;
  padding-bottom: 30px;
}

.dialog__text {
  margin: 0;
  color: #000;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
}

.dialog__button {
  position: relative;
  width: 100%;
  padding: 10px;
  margin: 0;
}

.dialog__button .footer__icon {
  width: 39px;
  height: 39px;
}

@media (width > 375px) {
  .footer__button {
    flex-direction: row;
  }

  .footer__icon {
    width: 21px;
    height: 21px;
  }
}